your-domain.com {
  reverse_proxy /api/* api:3000
  reverse_proxy /socket.io/* api:3000 {
    transport http {
      versions 1.1
    }
    header_up Upgrade {http.upgrade}
    header_up Connection "Upgrade"
  }
  reverse_proxy web:80
}
